.col{
    background-color: rgb(35, 35, 36);
}
.article{
    width: 207rem;
}
.card-title{
    color:rgb(234, 234, 114);
    font-weight:bolder;
}
.card-text{
    font-weight:bolder;
    margin-left: -20rem;
}