.cards-container {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    gap: 10px;
    padding: -1.5px;
    margin-top: 50px;
    margin-left: 50rem;
    margin-bottom: 5rem;
}

.card {
    margin-bottom: 15x;
    border: 5px solid Grey;
}

.card>img {
    width: 150px;
    border: none;
    box-shadow: 0 1.5rem 1rem Grey;
}
.NavMenu {
    height: 470px;
    margin-right: .5rem 0 0 0;
}

Button.variant {
    background: Grey;
}

.form-control {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 76px;
    line-height: 1.5;
    color: #212529;
    background-clip: padding-box;
    border: 1px solid gray;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 39rem;
    /* text-transform: uppercase; */
    /* position: absolute; */

}

.dropdown-menu.show {
    background-color: transparent;
    border: none;
}

.NavMenu.dropdown-item {
    background-color: transparent;
}
