<<<<<<< HEAD
iframe
{
    
        width: 80%;
        height: 400px;
        pointer-events: none;
        
=======
iframe {
>>>>>>> origin/main
        width: 100%;
        height: 670px;
        pointer-events: none;
}