body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  #wineGlass{
    box-sizing: border-box;
    border-radius: 100px;
    width: 200px;
    height: 200px;
  }
  .background-image{
    background-image: url(https://images.unsplash.com/photo-1558138818-d44c4dea7a6a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80);
  }
  h2{
    font-size: small;
  }

  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    font-style:normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 300px;
    margin: 8px;
    width: 90%;
    background-color: transparent;
    border: none;
    color: white;
  }
  
  .about-section {
    padding: 0px;
    text-align: center;
    color: white;
    
  }
  p{
    font-weight: bolder;
  }
  
  .container {
    padding: 0 16px;
    width: 591px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color:rgb(0, 255, 17);
    font-weight: bolder;
    font-size: x-large;

  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 9px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100px;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 651px) {
    .column {
      width: 100%;
      display: block;
    }
  }